### Start with the top cell below and press Shift+Enter to move down to the next ###

In [1]:
# importing the popular package called numpy and giving it a name 'np'
import numpy as np

In [2]:
#artificially creating sales data for three Cities

salesA = np.random.randint(5,150, size=(5000000,1)) #create random sales data for City A
salesB = np.random.randint(45,175, size=(5000000,1)) #create random sales data for City B
salesC = np.random.randint(140,450, size=(5000000,1)) #create random sales data for City C

In [3]:
# sales of all three cities brought together side by side (Axis=1)
salesAll = np.concatenate((salesA,salesB,salesC), axis=1)

In [4]:
#importing pandas package for data manippulation and giving it a name 'pd'
import pandas as pd

In [5]:
# bringing the sales data into pandas table
data = pd.DataFrame(salesAll, columns=['CityA','CityB','CityC'])

In [9]:
# numerical summary of the sales data
data.describe()

In [10]:
# visual/box plot for sales data
data.plot.box()

In [11]:
# frequency table for sales amount for CityC
data.CityC.value_counts()